{{!< default}} 
<article>
    <h2>An Introduction</h2>
    <p>
        My name is Adnan Issadeen. I'm a systems engineer at Buffer. My interests are varied.
        Programming, writing, reading, drawing animating, photography, painfully dissecting movies
        scene by scene. But most of all I love spending time with my wife and child. Nothing in the
        world could be better than that. I also suffer from the occasional bout of verbal diarrhea.
        It's getting better I promise. I was born in 1980 and I still have only an inkling of an
        idea as to what I really want to do in life. Some days it's programming. Other days it's
        drawing. Sometimes it's all about story telling. Most of the time it's all of that combined
        with education. If I could write all day long and do scripts for videos where I create
        educational material that's practical in the software field, I feel like my life purpose
        will be achieved. It's either that or to be a stay at home Dad. The latter is preferred.
    </p>
    <h2>How did we get here?</h2>
    <p>
        I was never destined to be a whiz kid. My middle name might as well have been Average. Ahamed Adnan Average Issadeen. I didn't do programming as a child. I barely scraped though maths. I nearly failed a lot of other things. I did kind of come into my own during the degree. But that had more to do with the nurturing from the people around me than my own raw ability.
    </p>
    <p>
        Before getting to Buffer I tried working with my father in the position of inheriting his ERP implementation company some day. It wasn't meant to be though. I made my own path just a year later. First it was at anything.lk which was Sri Lanka's first true ecommerce experience for the Sri Lankan market itself. I wasn't a software developer though which was fine by me. After anything.lk got acquired and was munged into the wow.lk brand, I left to find a real programming job and that's when I started 2 and a half years pretending to be a beach ball. First Cinergix. Then Rukula. Then Cinergix again. And finally Buffer which has been the job I've held on to the longest :). 
    </p>
    <p>
        And so we are here. What the future holds I don't know. I feel tugs though everyday in other
        directions. Maybe I'll find places to satisfy those tugs at Buffer. Maybe I won't. What I do
        hope is that the working persona I've settled at for now is not my final destination.
    </p>
    <h2>Causes I care about</h2>
    <p>A long time ago I was that person who got on to Twitter and FB to fight every cause that came on. As time went by, I realised I couldn't meaningfully contribute anything beyond thoughts, prayers, retweets, and the occasional pithy commentary. I decided that a person can only ever focus on 3 causes at once. The ones I've decided on are:</p>
    <ul>
        <li>Muslim Marriage and Divorce Act Reforms to help bring about some semblance of equality for mulsim women in Sri Lanka</li>
        <li>Climate change (self) awareness with a primary focus on reducing waste in personal life and moving towards recycling everything while helping others do the same.</li>
        <li>Working to combat digital addictions. #FightTheDopamine</li>
    </ul>
</article>