<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="{{asset 'css/bootstrap.min.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{asset 'css/homepage.css'}}" rel="stylesheet" type="text/css" />

    <title>Adnan Issadeen on the Internet</title>
</head>

<!--Color schemes 
http://colorschemedesigner.com/#3m11Tw0w0w0w0-->

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <ul class="links">
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
                <!--section for blurb-->
                <p id="main-text">Hi. My Name is <span class="secondattention">Adnan Issadeen</span>. I'm a <span class="attention">problem
                        solver</span> and <span class="attention">automation specialist.</span> </p>
                <p id="secondary-text">I <span class="secondattention">code</span>, <span class="secondattention">design</span>,
                    <span class="secondattention">write</span>, and above all, <span class="secondattention">listen</span>.</p>
                <p class="tertiary-text">I <span class="secondattention">build</span> for <span class="secondattention">People</span></p>
                <p class="tertiary-text">I <span class="secondattention">create</span> with <span class="secondattention">Love</span></p>

                
            </div>
        </div>
    </div>

</body>

</html>