{{!< default}}

{{#post}}
<article>
    <h1>{{title}}</h1>
    {{content}}
    <p class="post-time">Posted on {{date published_at format="MMMM DD YYYY"}} by {{primary_author.name}}</p>
</article>
{{/post}}